*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgba(0,0,0,0.1);
border:1px solid;
}
/* Styling header*/

.header nav{
    height:50px;
    float:right;
    margin-top:-100px;
    width:70%
    }
    .header nav ul{
    line-height:50px;
    }
   

/* Styling content*/




/* Styling footer*/


