*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgba(0,0,0,0.1);
border:1px solid;
}
/* Styling header*/

.header nav{
    height:50px;
    float:right;
    margin-top:-100px;
    width:70%
    }
    .header nav ul{
    line-height:50px;
    }
    .header nav ul li{
      list-style-type:none; 
      display:inline-block; 
      margin-left:30px
    }
    .header nav ul li a{
    text-decoration:none;
    display:block;
    padding:0px 10px;
    
    }
    .header nav ul li a:hover{
    background-color:green;
    color:yellow;
    }

/* Styling content*/




/* Styling footer*/


